*,
html{
    margin: 0;
    padding: 0;
}
.container{
  background-color:rgb(201, 255, 199); 
  
}
.navbar{
    background-color: rgb(118, 149, 87);
    width: 100%;
    height: 100px;
}
.navbarul{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.navbaril{
    font-size: 30px;
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: aliceblue;
}
.navbaril:hover {
    background-color: brown;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 15px;
}
.content{
    background-color: rgb(7, 107, 72);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size:30px ;
    color: antiquewhite;
    display: flex;
    justify-content:baseline;
}
.img-content{
    width: 70%;
    height: 20%;
    border-radius: 75px;

}
.foo{
    display: flex;
    background-color: rgb(118, 149, 87);
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 200px;
}
.a-navbar{
    color: antiquewhite;
    text-decoration: none;
}
.img2-content{
    border-radius: 60px;
    width: 80%;
    height: 15%;
    
}